{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>
    {%- block title -%}
      {{ setting('site.name', 'SMEAG线上') }}{% if setting('site.slogan') %} - {{ setting('site.slogan') }}{% endif %}{% if not setting('copyright.owned') %} - Powered By SMEAG线上{% endif %}
    {%- endblock -%}
  </title>
  <meta name="keywords" content="{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}" />
  <meta name="description" content="{% block description %}{{ setting('site.seo_description') }}{% endblock %}" />
  <meta content="{{ csrf_token('site') }}" name="csrf-token" />
  <meta content="{{ app.user.isLogin()|default(0) }}" name="is-login" />
  <meta content="{{ setting('login_bind.weixinmob_enabled')|default(0) }}" name="is-open" />
  {{ setting('login_bind.verify_code', '')|raw }}
  {% if setting('site.favicon') %}
  <link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" type="image/x-icon" media="screen"/>
  {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- Css -->
    <link href="{{ asset('bundles/metronicadmin/themes/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/metronicadmin/themes/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/eeoweb/megacourse/css/library/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/eeoweb/megacourse/css/md-font.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/eeoweb/megacourse/css/style.css') }}" rel="stylesheet" type="text/css" />

<body id="page-top" {% if bodyClass|default('') %}class="{{ bodyClass }} home"{% endif %}>
{% block body %}

  <div class="page-wrap es-wrap">
    {% block header %}
      {% include 'TopxiaWebBundle::weixin-alert.html.twig'%}
      {% include 'TopxiaWebBundle::site-hint.html.twig' %}
      {% include 'TopxiaWebBundle:Default:header-register.html.twig' %}
    {% endblock %}
    
    {% block full_content %}
        {% block top_content %}{% endblock %}
        {% block content %}{% endblock %}
    {% endblock %}
    
    {% block footer %}
      {% include 'TopxiaWebBundle:Default:footer-register.html.twig' %}
    {% endblock %}

    {% block bottom %}{% endblock %}
  </div>

  {% block esBar %}
    {% if setting('esBar.enabled', 0) %}
        {% include 'TopxiaWebBundle:EsBar:index.html.twig' %}
    {% endif %}
  {% endblock %}

  {% block floatConsult %}
    {% if setting('consult.enabled', 0) and (consultDisplay|default(false) or siteNav|default() == '/' ) %}
      {% if not setting('esBar.enabled',0) %}
        {% include 'TopxiaWebBundle::float-consult.html.twig' %}
      {% endif %}
    {% endif %}
  {% endblock %}


    <script src="{{ asset('bundles/metronicadmin/themes/global/plugins/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/metronicadmin/themes/global/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/eeoweb/megacourse/js/library/jquery.owl.carousel.js') }}"></script>
    <script src="{{ asset('bundles/eeoweb/megacourse/js/library/jquery.appear.min.js') }}"></script>
    <script src="{{ asset('bundles/eeoweb/megacourse/js/library/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('bundles/eeoweb/megacourse/js/library/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('bundles/eeoweb/megacourse/js/scripts.js') }}"></script>
    
    <div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
    <div id="modal" class="modal"></div>
  
{% endblock %}

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}

</body>
</html>
